// .bgi {
//   background-image: url('/statics/background.svg');
//   background-repeat: no-repeat;
//   background-size: 100% 100%!important;
//   margin-top: -50px;
// }
//@font-face {
//  font-family: SourceHanSans;
//  src: url(../components/SourceHanSansSC-VF.woff);
//}
//@font-face {
//  font-family: D;
//  src: url(../components/D-DIN.woff);
//}


// 声明一个应用它的类
// .my-font {
// }
// .my-font-D {
// }

//统一设置底部边界的样式
.bottom_border{
    border-bottom: 1px solid #dcdcdc
}
//统一设置顶部边界的样式

.top_border{
    border-top: 1px solid #dcdcdc
}
//设置圆角为圆形
.radius_circle{
    border-radius: 50%;
}
.art_msg img {
    max-width: 100%;
  }
.art_msg{
    max-width: calc(50vw);
}  
pre code{
    display:block;
    overflow-x: auto;
    padding: 15px;

}
code{
    padding: 3px 10px;
    background:rgba($color: #000000, $alpha: 0.05);
}

.markdown{
    max-width: calc(23vw);
}
.article .markdown{
    max-width: 250px;
}
blockquote{
    display: block;
    padding: 16px;
    margin: 0 0 24px;
    border-left: 8px solid #dddfe4;
    background: #eef0f4;
    overflow: auto;
    word-break: break-word!important;
    p{
        margin:0;
    }
}